.DS_Store
.env

# terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
infra/terraform.tfvars
infra/backend.hcl

# custom ignores
output/
.output/
devscripts/
*.db
*.db-wal
*.db-shm

# node
node_modules/

# python
__pycache__/
*.py[cod]
*$py.class
.venv/
*.egg-info/
dist/
build/
